.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.dataTables_wrapper>.row {
    overflow: auto!important;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.dataTables_length{
    width:40%;
    float: left;
}
div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}
.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}
.col-sm-12,.col-sm-6,.col-sm-5,.col-sm-7{
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}
.dataTables_info {
    width: 60%;
    float: left;
}
.dataTables_paginate{
    float: right;
}
.pagination>li{
    display: inline;
}
.pagination>li:first-child>a{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dataTables_paginate a {
    padding: 6px 9px!important;
    background: #ddd!important;
    border-color: #ddd!important;
}