.x_panel{
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    float: left;
}
.x_title{
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
}
.x_content{
    padding: 0 5px 6px;
    float: left;
    clear: both;
    margin-top: 5px;
}
.x_panel, .x_title{
    margin-bottom: 10px;
}
.x_title h2{
    margin: 5px 0px 6px;
    float: left;
    display: block;
}
.x_title h2 small{
    margin-left: 10px;
}
.x_content p{
    margin: 0 0 10px;
}
.x_content .dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}
.dataTables_length{
    width: 40%;
}
.dataTables_wrapper > .row{
    overflow: auto !important;
}

div.dataTables_length label{
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
div.dataTables_length select{
    width: 75px;
    display: inline-block;
}
div.dataTables_filter{
    width: 50%;
}
.input-sm{
    height: 30px;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1.5;
}
input.form-control{
    color: #555;
    background-color: #fff;
    border: 1px solid  #ccc;

}
.col-sm-12,.col-sm-5,.col-sm-7{
    position: relative;
    min-height: 1px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}
.table-bordered{
    border: 1px solid #ddd;
}
.table{
    width: 100%;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
div.dataTables_info{
    padding-top: 8px;
    white-space: nowrap;
}
.dataTables_info{
    width: 60%;
    float: left;
}
div.dataTables_paginate{
    text-align: center;
    margin: 0;
    white-space: nowrap;
}
.dataTables_paginate{
    float: right;
}
ul.pagination{
    margin: 2px 0;
    white-space: nowrap;
}
.pagination{
    display: inline-block;
    padding-left: 0px;
    border-radius: 4px;
}
.pagination>li{
    display: inline;
}
